<head th:fragment="common_header">
	<meta charset="UTF-8">
	<title>山东空管流量预测系统</title>
	<link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all">
	<link href="../static/css/hover.css" type="text/css" rel="stylesheet" media="all">
	<link rel="stylesheet" href="../static/css/css/high-specificity/theme.blue.specific.css">
	<!--web-font-->
	<!--//web-font-->
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<!-- //Custom Theme files -->
	<!-- js -->
	<script src="../static/js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="../static/js/jquery.tablesorter.js"></script>
	<!-- //js -->
	<!-- start-smoth-scrolling-->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<script type="text/javascript" src="../static/js/echarts.min.js"></script>
	<script src="../static/js/bootstrap.js"></script>
</head>