<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: common_header">
<meta charset="UTF-8">
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<!--side-bar-->
		<div class="col-sm-3 col-md-2 sidebar" th:include="common/sidebar :: sidebar">
		</div>
		<!--//side-bar-->

		<div class="col-sm-9  col-md-10 col-md-offset-2 main about-main">
			<div>
				<h3>欢迎使用山东空管流量预测系统</h3>
				<!--<h3>如果你未登陆请点击此处 <a class="hvr-bounce-to-right" id="login" href="javascript:;">登陆</a> </h3>-->
				<div style="margin: 35px">
					<h3 id="message" th:if="${param.message}" th:text="${param.message[0]}"></h3>
					<h3 id="message" th:if="${message}" th:text="${message}"></h3>
				</div>
			</div>
			<br>

			<div id="form" class="services form" style="display: block" >
				<form action="/login/" id="login-form" class="contact-form" method="POST">
					<div class="form-group">
						<label for="username">用户名</label>
						<select id="username" name="username" 
							style="display: inline-block; background: none; border: 1px solid #A3A1A1; width: 80%;margin: 0 0 1.5em 0;  outline: none;font-size: 14px;color: #747577;padding: 10px 15px;">
  							<option value="jinjin">进近</option>
  							<option value="quyu">区调</option>
  							
  							<option value="admin">管理员</option>
  							
						</select>
						
					</div>
					<div class="form-group">
						<label for="password">密码</label>
						<input type="password" id="password" name="password" value="7123456" placeholder="输入密码">
					</div>
					<div class="form-group">
						<input type="submit" class="button" value="登陆">
					</div>

				</form>
			</div>
		</div>
		<div class="footer">

		</div>
	</div>
</div>
<div class="clearfix"></div>
<script >
	$('#login').click(function(){
		$('#form').toggle(300);
	});
</script>
</body>
</html>